.left{
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;

    .filterItem{
        margin-bottom: 30px;
        h2{
            font-weight: 400;
            margin-bottom: 20px;
        }
        .inputItem{
            margin-bottom: 10px;
            label{
                margin-left: 8px;
            }
        }
    }
}