.cart{
    position: absolute;

    right: 20px;
    top: 80px;
    z-index : 999;
    background-color: #fff;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    
    .title{
        color: gray;
        margin-bottom: 30px;
        font-weight: 400px;
        font-size: 24px;
    }
    .item{
        display: flex;
        align-items: center;
        gap: 18px;
        margin: 30px;
        img{
            width: 80px;
            height: 100px;
            object-fit: cover;
        }
    }
    .details{
        h1{
            font-size: 18px;
            font-weight: 500;
        }
        p{
            color: gray;
            margin-bottom: 10px;
            font-size: 14px;
        }
        .price{
            color: #2879fe;
        }
    }
    .delete{
        color: red;
        font-size: 30px;
        cursor: pointer;
    }
    .total{
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .checkout{
        width: 250px;
        padding: 10px;
        background-color: #2879fe;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        border: none;
        font-weight: 500;
        margin: auto;
        margin-bottom: 18px;
    }
    .reset{
        width: 100%;
        color: red;
        font-size: 12px;
        cursor: pointer;    
        text-align: center;
    }
}